<%= form_tag transactions_path do%>
  <%= render 'customer_form' unless current_user.has_payment_info? %>
  <p>Please enter your payment details:</p>
  <div id="dropin"></div>
  <%=submit_tag "Pay #{number_to_currency(current_user.cart_total_price, :unit => "$")}$", class: "button mt1" %>
<%end%>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
